<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
    <f:view contentType="text/html">
        <h:head>
            <link rel="stylesheet" href="./assets/css/main.css" type="text/css"/>
            <title>Centili candidate project</title>
            <meta charset="utf-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1"/>
            <link rel="shortcut icon" href="./images/centiliTitleLogo.png" type="image/jpg"/>

        </h:head>
        <h:body id="top">

            <!-- Banner -->
            <!--
                    To use a video as your background, set data-video to the name of your video without
                    its extension (eg. images/banner). Your video must be available in both .mp4 and .webm
                    formats to work correctly.
            -->
            <section id="banner" data-video="../images/banner">
                <div class="inner">
                    <header>
                        <h1>An error has been occurred</h1>
                        <p>HTTP 404 - Link you are searching for has not be found!
                            <br/>
                            <a href="../centiliTest" class="back">Go to first page</a></p>
                    </header>
                </div>
            </section>

            <!-- Footer -->
            <footer id="footer">
                <div class="inner">
                    <ul class="icons">
                        <li><a href="https://www.linkedin.com/in/nenad-barugdzic-705512b2" class="icon fa-linkedin"><span class="label">Linkedin</span></a></li>
                        <li><a href="https://twitter.com/dzobica" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                        <li><a href="https://www.instagram.com/nbarugdzic/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                        <li><a href="https://plus.google.com/+NenadBarugdzic" class="icon fa-envelope"><span class="label">GMAIL</span></a></li>
                    </ul>
                    <p class="copyright"> Design: <a href="https://templated.co">TEMPLATED</a>. Videos: <a href="https://www.centili.com/">Centili</a>.</p>
                </div>
            </footer>

            <!-- Scripts -->
            <script src="./assets/js/jquery.scrolly.min.js"></script>
            <script src="./assets/js/skel.min.js"></script>
            <script src="./assets/js/util.js"></script>
            <script src="./assets/js/main.js"></script>

        </h:body>
    </f:view>
</html>