<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <f:view contentType="text/html">
        <h:head>
            <link rel="stylesheet" href="./assets/css/main.css" type="text/css"/>
            <title>Centili candidate project</title>
            <meta charset="utf-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1"/>
            <link rel="shortcut icon" href="./images/centiliTitleLogo.png" type="image/jpg"/>

        </h:head>
        <h:body id="top">

            <!-- Banner -->
            <!--
                    To use a video as your background, set data-video to the name of your video without
                    its extension (eg. images/banner). Your video must be available in both .mp4 and .webm
                    formats to work correctly.
            -->
            <section id="banner" data-video="./images/banner">
                <div class="inner">
                    <header>
                        <h1>Centili candidate project</h1>
                        <p>Project request by company <a href="https://www.centili.com/">Centili</a> for a candidate who has applied for a job.<br/>
                            You can create your own documents and items for that documents, and manage them as you want.<br/>
                            I hope you will like what I did.<br/>
                            King regards,<br/>
                            <a href="https://www.linkedin.com/in/nenad-barugdzic-705512b2">Nenad</a>
                        </p>
                    </header>
                    <a href="#main" class="more">Learn More</a>
                </div>
            </section>

            <!-- Main -->
            <div id="main">
                <div class="inner">

                    <!-- Boxes -->
                    <div class="thumbnails">
                        <h:form id="form">
                            <p:growl id="msgs" showDetail="true" />
                            <p:panel header="Documents" id="docPanel">
                                <p:growl id="docMsg" showDetail="true" />
                                <p:commandButton value="Add documents" action="#{addBean.addDocumentClick}" styleClass="buttonStyle" update=":form"/>
                                <br/>
                                <p:dataTable var="doc" value="#{docBean.documentList.documents}" rows="10" id="docTable"
                                             paginator="true"
                                             paginatorAlwaysVisible="false"
                                             paginatorPosition="top"
                                             rowsPerPageTemplate="5,10,20"
                                             selectionMode="single" 
                                             class=""
                                             selection="#{docBean.selectedDoc}"
                                             rowKey="#{doc.id}">

                                    <p:column headerText="Code" sortBy="#{doc.code}" filterBy="#{doc.code}">
                                        <h:outputText value="#{doc.code}"  title="#{doc.code}"/>
                                    </p:column>

                                    <p:column headerText="Name"  sortBy="#{doc.name}" filterBy="#{doc.name}">
                                        <h:outputText value="#{doc.name}"  title="#{doc.name}"/>
                                    </p:column>

                                    <p:column headerText="Date"  sortBy="#{doc.date}" filterBy="#{doc.date}">
                                        <h:outputText value="#{doc.date}" >
                                            <f:convertDateTime pattern="dd.MM.yyyy."/>
                                        </h:outputText>
                                    </p:column>

                                    <f:facet name="footer">
                                        <p:commandButton process="docTable" update=":form" icon="ui-icon-search" value="Delete" oncomplete="PF('deleteDoc').show()" />
                                        <p:commandButton process="docTable" icon="ui-icon-search" value="Edit"  action="#{addBean.editDocClick}" update=":form"/>
                                        <p:commandButton process="docTable" icon="ui-icon-search" value="Add item" action="#{addBean.addItemClick}" update=":form"/>
                                        <p:commandButton process="docTable" icon="ui-icon-search" value="View" action="#{docBean.onRowSelect}" update=":form"/>

                                    </f:facet>
                                </p:dataTable>
                            </p:panel>
                            <p:panel header="Items" id="itemsPanel" style="margin-top: 50px">
                                <p:growl id="itmsPanel" showDetail="true" />
                                <p:commandButton process="docTable" update=":form" icon="ui-icon-search" value="Show all items" oncomplete="PF('allItems').show()" />
                                <p:commandButton value="Add item" action="#{addBean.addItemClick}" styleClass="buttonStyle" rendered="#{docBean.hasItems}" update=":form"/>
                                <p:dataTable var="item" value="#{docBean.selectedDoc.items}" rows="10" id="itemTable"
                                             paginator="true"
                                             rendered="#{docBean.hasItems}"
                                             paginatorAlwaysVisible="false"
                                             selectionMode="single" 
                                             paginatorPosition="top"
                                             rowsPerPageTemplate="5,10,20"
                                             selection="#{docBean.selectedItem}"
                                             rowKey="#{item.id}">
                                    <f:facet name="header">
                                        <h:outputText value="Document: #{docBean.selectedDoc.name} - #{docBean.selectedDoc.code}"/>
                                    </f:facet>
                                    <p:column headerText="Name"  sortBy="#{item.name}" filterBy="#{item.name}">
                                        <h:outputText value="#{item.name}" title="#{item.name}"/>
                                    </p:column>

                                    <p:column headerText="Code" sortBy="#{item.price}" filterBy="#{item.price}">
                                        <h:outputText value="#{item.price}">
                                        </h:outputText>
                                    </p:column>

                                    <f:facet name="footer">
                                        <p:commandButton process="itemTable" update=":form" icon="ui-icon-search" value="Delete" oncomplete="PF('deleteItem').show()" />
                                        <p:commandButton process="itemTable" icon="ui-icon-search" value="Edit"  action="#{addBean.editItemClick}" update=":form"/>
                                    </f:facet>
                                </p:dataTable>
                            </p:panel>

                            <p:dialog header="Are you shure you want to delete document?" widgetVar="deleteDoc" modal="true" showEffect="fade" hideEffect="fade" resizable="false" id="dialogDoc">
                                <p:outputPanel id="docDetail" style="text-align:center;">
                                    <h:outputText value="#{docBean.docDeleteMessage}"/>
                                    <p:panelGrid  columns="2" rendered="#{docBean.selectedDoc != null}" >
                                        <p:commandButton action="#{docBean.removeDocClick}" value="Yes" update="form" oncomplete="PF('deleteDoc').hide()"/>                     
                                        <p:commandButton type="button" value="No" onclick="PF('deleteDoc').hide()"/>
                                    </p:panelGrid>
                                </p:outputPanel>
                            </p:dialog>

                            <p:dialog header="Are you shure you want to delete item?" widgetVar="deleteItem" modal="true" showEffect="fade" hideEffect="fade" resizable="false" id="dialogItem">
                                <p:outputPanel id="itemDetail" style="text-align:center;">
                                    <h:outputText value="#{docBean.itemDeleteMessage}"/>
                                    <p:panelGrid  columns="2" rendered="#{docBean.selectedItem  != null}">
                                        <p:commandButton action="#{docBean.removeItemClick}" value="Yes" update="form" oncomplete="PF('deleteItem').hide()"/>                     
                                        <p:commandButton type="button" value="No" onclick="PF('deleteItem').hide()"/>
                                    </p:panelGrid>
                                </p:outputPanel>
                            </p:dialog>
                            <p:dialog header="All items" widgetVar="allItems" modal="true" showEffect="fade" hideEffect="fade" resizable="false" width="80%">
                                <p:dataTable var="item" value="#{docBean.allItems.items}" rows="10" id="allItemTable"
                                             paginator="true"
                                             selectionMode="single" 
                                             paginatorPosition="top"
                                             rowsPerPageTemplate="5,10,20"
                                             selection="#{docBean.selectedItem}"
                                             rowKey="#{item.id}">>

                                    <p:column headerText="Name"  sortBy="#{item.name}" filterBy="#{item.name}">
                                        <h:outputText value="#{item.name}" title="#{item.name}"/>
                                    </p:column>

                                    <p:column headerText="Code" sortBy="#{item.price}" filterBy="#{item.price}">
                                        <h:outputText value="#{item.price}">
                                        </h:outputText>
                                    </p:column>

                                    <p:column headerText="Document code" sortBy="#{item.docCode}" filterBy="#{item.docCode}">
                                        <h:outputText value="#{item.docCode}" title="#{item.docCode}"/>
                                    </p:column>
                                    <f:facet name="footer">
                                        <p:commandButton process="allItemTable" update=":form" icon="ui-icon-search" value="Delete" oncomplete="PF('deleteItem').show()" />
                                        <p:commandButton process="allItemTable" icon="ui-icon-search" value="Edit"  action="#{addBean.editItemClick}" update=":form"/>
                                    </f:facet>
                                </p:dataTable>
                            </p:dialog>
                        </h:form>
                    </div>

                </div>
            </div>

            <!-- Footer -->
            <footer id="footer">
                <div class="inner">
                    <ul class="icons">
                        <li><a href="https://www.linkedin.com/in/nenad-barugdzic-705512b2" class="icon fa-linkedin"><span class="label">Linkedin</span></a></li>
                        <li><a href="https://twitter.com/dzobica" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                        <li><a href="https://www.instagram.com/nbarugdzic/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                        <li><a href="https://plus.google.com/+NenadBarugdzic" class="icon fa-envelope"><span class="label">GMAIL</span></a></li>
                    </ul>
                    <p class="copyright"> Design: <a href="https://templated.co">TEMPLATED</a>. Videos: <a href="https://www.centili.com/">Centili</a>.</p>
                </div>
            </footer>

            <!-- Scripts -->
            <script src="./assets/js/jquery.scrolly.min.js"></script>
            <script src="./assets/js/skel.min.js"></script>
            <script src="./assets/js/util.js"></script>
            <script src="./assets/js/main.js"></script>

        </h:body>
    </f:view>
</html>